@using OrdersCore = global::Orders.Core.OrderExt
 
@{
    var statuslist = Enum.GetNames(typeof(OrdersCore.OrderStatusEnums)).ToList();
}

@foreach (var item in statuslist)
{
    <button class="dropdown-item" type="button">@item.ToString()</button>
}
