@using OrdersCore = global::Orders.Core.OrderExt
 
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
            <i class="kt-font-brand flaticon2-architecture-and-city"></i>
        </span>
        <h3 class="kt-portlet__head-title">
            Customer Details
        </h3>
    </div>
</div>


