@model Documents.Tracker.Core.DTO.Orders.OrderPaymentOTO

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-architecture-and-city"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Payment
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Datatable -->

        <div class="table table-responsive-sm">
            <div class="row">
                <label class="col-lg-6"><strong>Paid Date:</strong></label>
                <div class="col-lg-6">
                    @Model.PaidDate
                </div>
            </div>
            <div class="row">
                <label class="col-lg-6"><strong>Amount Paid:</strong></label>
                <div class="col-lg-6">
                    @Model.AmountPaid
                </div>
            </div>
 
        </div>

        <!--end: Datatable -->
    </div>
</div>
