@using Microsoft.AspNetCore.Http.Extensions;
@model ICollection<Documents.Tracker.Core.DTO.Consumers.ConsumerProductDocumentFileOTO>
@{
    var request = ViewContext.HttpContext.Request;
    var displayUrl = UriHelper.GetDisplayUrl(request);
    var urlBuilder =
    new UriBuilder(displayUrl)
    { 
        Query = null,
        Fragment = null
    };
    string url = urlBuilder.ToString();

}
<table id="servicesTable" class="table  table-bordered table-striped">
    <thead>
        <tr>
            <th width="10%">#</th>
            <th width="30%">File</th>
            <th width="10%">Required</th>
            <th width="10%">Avaliabe</th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>
                        @{
                            int index = Convert.ToInt32(@Model.ToList().IndexOf(item));
                            index++;
                        }
                        @index.ToString()
                    </td>
                    <td>
                        @item.ProductDocuments.Name
                    </td>
                    <td>
                        @{if (item.ProductDocuments.IsRequired)
                            {
                                <span class="kt-badge kt-badge--inline kt-badge--success">Yes</span>
                            }
                            else
                            {
                                <span class="kt-badge kt-badge--inline kt-badge--dark">No</span>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.ConsumerFiles != null)
                            {
                                <div class="form-group-xs">
                                    <span class="col-2 kt-badge kt-badge--inline kt-badge--success">Yes</span>
                                </div>
                            }
                            else
                            {
                                <span class="kt-badge kt-badge--inline kt-badge--dark">No</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.ConsumerFiles != null)
                        {
                            //string baseUrl = string.Format("{0}://{1}/{2}", request.Scheme, request.Host, item.FilePathUrl);
                            //var fileuri = new Uri(baseUrl, UriKind.Absolute);
                            <form method="post">
                                <button asp-page="/FileManager/ManageFiles" asp-page-handler="Download" asp-route-pathUri="@item.FilePathUrl"
                                   class="btn btn-sm btn-light btn-icon "><i class="kt-nav__link-icon la la-download"></i></button>
                            </form>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>