@model int


@using TodoTasksCore = global::TodoTasks.Commons.TaskEnums

@{
    var cntlname = ViewContext.RouteData.Values["Page"].ToString();
    var TaskStatusEnums = Html.GetEnumSelectList<TodoTasksCore.TaskStatus>();
    var taskId = Model;
}

<button class="btn btn-sm btn-warning dropdown-toggle" id="dropdownMenu2" type="button" data-toggle="dropdown">Set Status</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenu2">

    <div class="col-lg-12">
        <form method="post">
            @foreach (var item in TaskStatusEnums.ToList())
            {
                <button type="submit" class="dropdown-item"
                        asp-page="ManageTasks" asp-page-handler="SetTaskStatus" asp-route-TaskId="@taskId" asp-route-statusid="@item.Value">
                    @item.Text
                </button>
            }
        </form>
    </div>

</div>
