
@model  General.Staff.Core.DTO.EmployeeDTO

    <form class="kt-form kt-form--label-right" method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input type="hidden" asp-for="RefId " />

        <div class="kt-portlet__body">
            <div class="form-group row">
                <div class="col-lg-12">
                    <label>First Name:</label>
                    <input asp-for="FirstName"required class="form-control" placeholder="ex: Legal, Private, Government, Foods">
                </div>

                <div class="col-lg-12">
                    <label>Last Name:</label>
                    <input asp-for="LastName" class="form-control" placeholder="ex: Legal, Private, Government, Foods">
 
                </div>
                <div class="col-lg-12">
                    <label>Mobile Number:</label>
                    <input asp-for="MobileNumber"  class="form-control" placeholder="ex: xxx1234567">
                   
                </div>
                <div class="col-lg-12">
                    <label>Identity Id:</label>
                    <input asp-for="IdentityId" required class="form-control" placeholder="">
                </div>
                <div class="col-lg-12">
                    <label>Passport Number:</label>
                    <input asp-for="PassportNumber" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-6">
                        <button id="btnPost"  asp-page-handler="SaveEmployee" type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


 